body, p, h1, h2 {
  margin: 0;
  padding: 0;
}

.header {
  width: 97%;
  margin: 10px auto 0;
}

.logo {
  width: 8%;
}

.left {
  float: left;
}

.Vetmax {
  font-size: 5.1vw;
  margin: 0;
  margin-top: -7px;
  font-family: 'Montserrat', sans-serif;
  color: #015198;
}

.block {
  display: block;
}

.right {
  float: right;
}

.no-decoration {
  text-decoration: none;
}

.no-float {
  clear: both;
}

.card-20 {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 10px 2.5%;
  border-radius: 20px;
}

.card-20:hover {
  box-shadow: 0px 0px 8px #e5e5e5;
  border-radius: 40px;
}

.card-10 {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 10px 2%;
  border-radius: 10px;
}

.card-10:hover {
  box-shadow: 0px 0px 8px #e5e5e5;
  border-radius: 20px;
}

.body-90 {
  width: 90%;
  margin: 10px auto 0;
}

.h1 {
  margin: 10px auto 5px;
  font-size: 3.5vw;
  color: #00101e;
}

.font-raleway-500 {
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
}

.cent-45 {
  width: 45%;
}

.hr-Vetmax {
  border: 0.05vw solid #99b9d5;
  box-shadow: 0px 5px 10px #e5edf4;
}

.hr-grey {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 5px 10px #e5e5e5;
}

.hr-colour-90 {
  width: 105.5%;
  margin-left: -2.8%;
}

.hr-colour-45 {
  width: 108.8%;
  margin-left: -4.5%;
}

.h2 {
  margin: 10px auto 5px;
  font-size: 3vw;
  color: #00182d;
}

@media only screen and (max-width: 720px) {
  .logo {
    width: 20%;
  }

  .Vetmax {
    font-size: 5.6vw;
    margin-top: 7px;
    width: 75%;
    text-align: center;
  }

  .body-90 {
    width: 92%;
  }

  .h1 {
    font-size: 5.4vw;
  }

  .hr-Vetmax {
    border: 0.09vw solid #99b9d5;
  }

  .hr-colour-90 {
    width: 105.4%;
    margin-left: -2.8%;
  }

  .h2 {
    font-size: 4.9vw;
  }
}

  @media only screen and (max-width: 480px) {
    .logo {
      width: 60%;
      margin-left: 20%;
      float: none;
    }

    .Vetmax {
      float: none;
      font-size: 7.47vw;
      margin-top: 15px;
      width: 100%;
    }

    .card-20 {
      padding: 10px 1.5%;
    }

    .card-10 {
      padding: 10px 1.5%;
    }

    .body-90 {
      width: 93.5%;
    }

    .hr-colour-90 {
      width: 103.21%;
      margin-left: -1.76%;
    }

    .hr-colour-45 {
      width: 106.5%;
      margin-left: -3.5%;
    }
}
