::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d3d3d3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d3d3d3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d3d3d3;
}


table {
  width: 60%;
}

th input {
  margin: 15px 0;
}

th, td {
  padding: 12px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #015198;
  color: #1a62a2;
  font-size: 16px;
}

#Product {
  border: none;
  border-bottom: 2px solid #015198;
  border-radius: 0px;
  text-align: center;
}

input[type=text]:focus {
  outline: none;
  background-color: #015198;
  color: White;
  border-radius: 5px;
}

button:focus {
  outline: none;
}
